PORT=3000

# The message returned by the /secret route once authenticated
SECRET_MESSAGE=You found the secret stash of cookies!

# Basic Auth credentials required to access /secret
USERNAME=admin
PASSWORD=changeme
